# Ignore the folder and everything inside it
catboost_info/
data/
image/

# Ignoriere alles im Ordner doc
doc/*
# Aber erlaube PDF-Dateien
!doc/*.pdf

*.html
*.pdf

# Ignore Python cache
__pycache__/
*.pyc

# Ignore node_modules folder
node_modules/

# Ignore environment files
.env

# Ignore OS junk
.DS_Store
Thumbs.db